<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <property name="mdc_log_pattern"
              value="%d{YYYY-MM-dd HH:mm:ss.SSS} %5level %logger{0}:%line [%t] [%mdc] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${mdc_log_pattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.cloud" level="debug"/>
    <logger name="io.fabric8.kubernetes.client" level="debug"/>

    <!-- deactivate annoying warnings -->
    <logger name="org.springframework.context.annotation.ConfigurationClassPostProcessor" level="error"/>
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="error"/>
    <logger name="org.springframework.cloud.context.scope.GenericScope" level="OFF"/>

    <!-- print port at startup -->
    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="info"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
